<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>F117</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

        <meta name="description" content="A continual stream of video to flood your most important channels" />
        <meta name="keywords" content="Video, Social, Production, engagement, leadership" />
        <meta name="author" content="F117" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="https://f117.s3-us-west-2.amazonaws.com/assets/images/favicon.ico" />
        <link href='http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7COpen%20Sans:300,400,700%7CMontserrat:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css"  href='https://f117.s3-us-west-2.amazonaws.com/assets/style.css' />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9a33226925.js"></script>
  </head>

  <body  class="page-template-onepage">
    <%= yield %>
     <!--Load JavaScript-->

  </body>

   <script src="https://f117.s3-us-west-2.amazonaws.com/assets/js/jquery.js"></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js'></script>
        <script src="https://f117.s3-us-west-2.amazonaws.com/assets/js/jquery.sticky.js"></script>
        <script src='https://f117.s3-us-west-2.amazonaws.com/assets/js/imagesloaded.pkgd.js'></script>
        <script src='https://f117.s3-us-west-2.amazonaws.com/assets/js/jquery.fitvids.js'></script>
        <script src='https://f117.s3-us-west-2.amazonaws.com/assets/js/jquery.smartmenus.min.js'></script>
        <script src='https://f117.s3-us-west-2.amazonaws.com/assets/js/isotope.pkgd.js'></script>
        <script src='https://f117.s3-us-west-2.amazonaws.com/assets/js/jquery.easing.1.3.js'></script>
        <script src='https://f117.s3-us-west-2.amazonaws.com/assets/js/jquery.prettyPhoto.js'></script>
        <script src='https://f117.s3-us-west-2.amazonaws.com/assets/js/owl.carousel.min.js'></script>
        <script src='https://f117.s3-us-west-2.amazonaws.com/assets/js/main.js'></script>
        <script>
          var typed = new Typed('#typed', {
            stringsElement: '#typed-strings',
            startDelay: 1000,
            typeSpeed:50,
            backSpeed:50,
            loop: true
          });
        </script>
</html>



